ssl_certificate /etc/letsencrypt/live/${WEBGIS_PUBLIC_HOSTNAME}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/${WEBGIS_PUBLIC_HOSTNAME}/privkey.pem;

include /etc/letsencrypt/options-ssl-nginx.conf;
# ssl_dhparam is set inside options-ssl-nginx.conf (deployed by tls_hardening).
# Declaring it here too causes "ssl_dhparam" is duplicate (nginx error).
